html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #37474f;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.75em 0 0.125em 0;
}
h2 {
  font-size: 1.25em;
  margin: 0 0 1em 0;
}
a {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
.profile {
  margin-bottom: 48px;
}
.profile a {
  margin: 0 8px;
  padding: 4px 8px;
}
.archives a {
  padding: 4px 2px;
}
